{
  "presets": ["env"],
  "plugins": [
      "syntax-dynamic-import",
      "transform-runtime",
      "transform-object-rest-spread", //object spread
      ["transform-react-jsx", {
          "pragma": "element" // default pragma is React.createElement
        }]
  ]
}